<div style="margin-bottom: 10px">
    <b>Current hayfever dairy entries:</b>
</div>
  
<div>
    <div>Input a new one here:</div>
    <form (ngSubmit)="onSubmit()">
        <input type="text" name="hayfeverEntry" [formControl]="hayfeverEntryControl"/>
        <button type="submit">Submit</button>
    </form>
</div>

<div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div *ngIf="rates">
    <div *ngFor="let rate of rates">
      <p>{{ rate.currency }}: {{ rate.rate }}</p>
    </div>
  </div>